# NYC High School Graduation Rates for the Classes 2016-2023
___

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [2]:
#Store NYC public school graduation dataset file path in variable for readability
grad_path = ("/Users/sa14/Desktop/EducationCapstone Sprint0 EDA/data/NYCTotalGraduationResults_Cohorts2012-19_Clases2016-23.csv")

#Load NYC public school grad dataset csv as a dataframe
df = pd.read_csv(grad_path)

In [3]:
#Get first 5 rows of dataset
df.head()

,Report Category,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,...,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout,# SACC (IEP Diploma),% SACC (IEP Diploma) of Cohort,# TASC (GED),% TASC (GED) of Cohort
0,Citywide,All Students,2019,4 year August,69893,58503,83.7,58295,83.4,99.6,...,0.3,0.4,6773,9.7,3748,5.4,260,0.4,569,0.8
1,Citywide,All Students,2018,4 year August,70912,59374,83.7,59110,83.4,99.6,...,0.4,0.4,6808,9.6,3831,5.4,322,0.5,547,0.8
2,Citywide,All Students,2017,4 year August,72663,60055,82.6,59683,82.1,99.4,...,0.5,0.6,8225,11.3,3545,4.9,227,0.3,566,0.8
3,Citywide,All Students,2016,4 year August,73565,58704,79.8,57734,78.5,98.3,...,1.3,1.7,9385,12.8,4338,5.9,269,0.4,852,1.2
4,Citywide,All Students,2015,4 year August,73772,57035,77.3,51848,70.3,90.9,...,7,9.1,9979,13.5,5745,7.8,317,0.4,692,0.9

In [4]:
#Get definite count of rows and columns
df.shape

(1130, 27)

**There are 1130 rows and 27 columns.**

In [5]:
#Get column data types (dtype), overall count of each present dtype, and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1130 entries, 0 to 1129
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Report Category                       1130 non-null   object
 1   Category                              1130 non-null   object
 2   Cohort Year                           1130 non-null   int64
 3   Cohort                                1130 non-null   object
 4   # Total Cohort                        1130 non-null   int64
 5   # Grads                               1130 non-null   object
 6   % Grads                               1130 non-null   object
 7   # Total Regents                       1130 non-null   object
 8   % Total Regents of Cohort             1130 non-null   object
 9   % Total Regents of Grads              1130 non-null   object
 10  # Advanced Regents                    1130 non-null   object
 11  % Advanced Regents of Cohort          1130 non-null   object
 12  % Advanced Regents of Grads           1130 non-null   object
 13  # Regents without Advanced            1130 non-null   object
 14  % Regents without Advanced of Cohort  1130 non-null   object
 15  % Regents without Advanced of Grads   1130 non-null   object
 16  # Local                               1130 non-null   object
 17  % Local of Cohort                     1130 non-null   object
 18  % Local of Grads                      1130 non-null   object
 19  # Still Enrolled                      1130 non-null   object
 20  % Still Enrolled                      1130 non-null   object
 21  # Dropout                             1130 non-null   object
 22  % Dropout                             1130 non-null   object
 23  # SACC (IEP Diploma)                  1130 non-null   object
 24  % SACC (IEP Diploma) of Cohort        1130 non-null   object
 25  # TASC (GED)                          1130 non-null   object
 26  % TASC (GED) of Cohort                1130 non-null   object
dtypes: int64(2), object(25)
memory usage: 238.5+ KB